@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-surface: #f7f9fb;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container: #eceef0;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #434655;
  --color-primary: #004ac6;
  --color-primary-container: #2563eb;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

.bg-indigo-gradient {
    background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-primary-container) 100%);
}
